.primaryText {
  padding: 1rem;
  margin: 1rem;
}
.name {
  color: #161414;
  font-style: normal;
}
.primaryText {
  width: 50%;
  background-color: hsla(0, 0%, 100%, 0.8);
  color: black;
  border-radius: 10px;
  /* min-width: 260px; */
}
@media screen and (max-width: 600px) {
  .primaryText {
    width: 90%;
  }
}

.desktopOnly {
  width: 100%;
  margin-top: auto;
}

.desktopOnly > .linkBar {
  margin: 0;
}
@media screen and (max-width: 1300px) {
  .desktopOnly {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .primaryText {
    margin: 0;
    padding: 0.5rem;
  }
}
.primary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('/polignano.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .primary {
    height: 80%;
  }
}

.profile-pic {
  display: inline-flex;
  width: 10rem;
  height: auto;
  margin: 1rem auto;
  min-height: 160px;
}
.profile-pic > img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  height: auto;
}
