.secondaryText {
  padding: 1rem;
}

@media screen and (min-width: 1300px) {
  .secondaryText {
    margin-top: 10rem;
  }
}
.secondary {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1300px) {
  .mobileOnly {
    display: none;
  }
}
